<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>specter</name>
	<displayName><![CDATA[Specter]]></displayName>
	<version><![CDATA[4]]></version>
	<description><![CDATA[Connect your shop to specter]]></description>
	<author><![CDATA[Prestaworks AB]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>